.container {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-form {
  background-color: rgb(12, 13, 55);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  border: 1px solid rgb(32, 34, 60);
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  flex-grow: 1;
}

.register-header {
  text-align: center;
  color: rgb(105, 244, 181);
  margin-bottom: 20px;
}

.label-text {
  color: rgb(243, 165, 42);
}

.form-control {
  background-color: transparent !important;
  border: none;
  color: white;
}

.form-control:focus {
  color: white;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-color: transparent;
  padding-left: 0;
}

.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(105, 244, 181);
  cursor: pointer;
}

.checkbox-text {
  color: rgb(243, 165, 42);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.checkbox-text input[type="checkbox"]:checked {
  border-color: white;
  background-color: rgb(233, 66, 178);
}

.form-check-input {
  margin-right: 5px;
}

.register-link {
  color: rgb(105, 244, 181);
  text-decoration: none;
}

.register-button {
  background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  border: none;
}

.divider {
  height: 1px;
  background-color: rgba(243, 165, 42);
  margin: 20px;
}

.divider-nospace {
  border-top: 1px solid white;
}

.form-control::placeholder {
  color: rgba(243, 165, 42, 0.4);
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: rgba(243, 165, 42, 0.4);
}

.form-control::-ms-input-placeholder {
  color: rgba(243, 165, 42, 0.4);
}

select.form-control {
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23f3a52a' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding-right: 2rem;
  
  option {
    background-color: rgb(12, 13, 55);
    color: white;
  }
}

// Error states
.form-control.ng-invalid.ng-touched {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

// Responsive adjustments
@media (max-width: 576px) {
  .register-form {
    margin: 1rem;
    padding: 1.5rem;
  }
  
  .register-header {
    font-size: 1.75rem;
  }
}
  
  
  